/* Google font */


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* navbar related styles */
header{
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    align-items: center;
}

.navbar{
    width: 75%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.logo h3{
    font-size: 2.25rem;
    color: white;
    font-weight: bold;
}

.logo .logo-gradiant{
     background: linear-gradient(90deg, #ff512f, #dd2476, #24c6dc);
     background-clip: text;
     -webkit-text-fill-color: transparent;
}

.nav-menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-menu .nav-items{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.subscirbe-btn .btn-primary{
    display: flex;
    padding: 12px 16px;
    gap:8px ;
    border-radius: 30px;
    background: linear-gradient(to top, #ffffff 0%, #999999 75%, #999999 100%);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    }

.subscirbe-btn{
    :hover{
        cursor: pointer;
    }
}


/* hero section styles */
.hero-container{
    background-image: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border: 3px solid green;
    display: flex;
    margin: 0 auto;
    align-items: center;

}
