/* Google font */


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* navbar related styles */
header{
    background-color: #1A0B2E;
    height: 92px;
    display: flex;
    align-items: center;
}

.navbar{
    width: 75%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.logo h3{
    font-size: 2.25rem;
    color: white;
    font-weight: bold;
}

.logo .logo-gradiant{
     background: linear-gradient(90deg, #ff512f, #dd2476, #24c6dc);
     background-clip: text;
     -webkit-text-fill-color: transparent;
}

.nav-menu ul{
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-menu .nav-items{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.subscirbe-btn .btn-primary{
    display: flex;
    padding: 12px 16px;
    gap:8px ;
    border-radius: 30px;
    background: linear-gradient(to top, #ffffff 0%, #999999 75%, #999999 100%);
    color: white;
    font-size: 1rem;
    font-weight: 600;
    }

.subscirbe-btn{
    :hover{
        cursor: pointer;
    }
}


/* hero section styles */
.hero-container {
  background: url(assets/hero-bg.png) no-repeat center/cover;
  padding: 6.25rem 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-circle-wrap {
  position: relative;
  display: inline-block;
}

.hero-circle {
  width: 21.875rem;   /* 350px */
  height: 21.875rem;
}

.hero-mic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.new-badge {
  position: absolute;
  top: 15px;
  right: 20px;
  background: #00FF88;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 999px;
}

.hero-title {
  font-size: 3.75rem;  
  font-weight: 800;      
  margin-top: 2.5rem; 
  color: #FFFFFF;
}

.hero-subtitle {
  font-size: 1rem;  
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 0.75rem;
  max-width: 36rem;
}


.hero-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.625rem; 
  padding: 0.75rem 1.25rem; 
  font-size: 1rem; 
  font-weight: 600; 
  border-radius: 999px;
  cursor: pointer;
}

/* Spotify */
.btn-spotify {
  background: linear-gradient(90deg, #ff3b3b, #ffb347, #7cff7c);
  color: #fff;
  border: none;
}

/* Subscribe */
.btn-subscribe {
  color: #fff;
  border: 2px solid #3cff8f;
}

